.HotAccessoriesMenu 
{
    display: flex;
    justify-content: center;
    text-align: center;
   
}
.HotAccessoriesLink
{
    margin:1vmax;
    text-decoration: none;
    padding: 0.5vmax 0;
    color: rgb(94,94,94);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.HotAccessoriesLink:hover
{
    text-decoration: none;
    color: orangered;
    border-bottom: 1px solid orangered;
}